misc/*
!misc/update_scripts/update_teevee.php
www/admin
www/covers
www/install
www/*.*
www/lib/*
!www/lib/news.php
!www/lib/teevee.php
!www/lib/smarty/plugins/*.writhem_*
www/pages/*
!www/pages/news.php
!www/pages/newspost.php
!www/pages/bookmarks.php
www/templates/*
!www/templates/writhem
www/templates/writhem/views/frontend/donate.tpl