/* only colors defined here. */

/* If you'd like to use your own colours, it might be wise to replace each colour as a mass replace. */

/*
site wide html styles
*/
body { color: #515151; }
h1, h2, h3 {	color: #485459; }
a { color: #00890a; }
a:hover { color: #000; }

/*
page structure
*/
#sidebar li li a { background: #ffffff; color: #808080; }
#sidebar li li a:hover { color: #00890a; background-color:#EEE; }
#sidebar li li a:hover div.icon_bullet { background-color:#00890a; }
#sidebar h2 { color: #485459; }

div.hint, div.hint a { color:#999; }

/*
pager
*/
div.pagination ul li.disabled { background-color: #FFF; }

/*
mainly one-off styles used on individual pages
*/
div.resextra { color: #555; }
div.resextra a { color: #555; }
div.movextra { color: #888; }
div.error { background-color: #FED0D0; border-color: #BBB }
.admin { background-color: #f2dede !important }

/*
Javascript referenced styles
*/
/*! Newznab tooltip style */
.ui-tooltip-newznab .ui-tooltip-titlebar, .ui-tooltip-newznab .ui-tooltip-content{ border-color: #363a3d; color: #00890a; }
.ui-tooltip-newznab .ui-tooltip-content{ background-color: #cfcfcf; }
.ui-tooltip-newznab .ui-tooltip-titlebar{ background-color: #363a3d; color:white; }

/*
movie, console and music modals with backdrop images.
*/
#movieinfo a { /* ref:color.css */ color: #fff; }
#movieinfo h1 { color: #fff; text-shadow: 0px 0px 4px #000; }
#movieinfo img.cover { -webkit-box-shadow: 0px 0px 4px #000; -moz-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000; }
#backdrop { background-color: #000; }
#musicinfo { color:#FFF; background-color:#7F7F7F; }
#musicinfo h1 { color: #fff; }
#musicinfo h2, #musicinfo h3, #musicinfo p { color: #fff; }
#musicinfo a { color: #fff; }
#musicinfo img.cover { background: #FFF; border-color: #EEE; -moz-box-shadow: 3px 6px 8px -4px #333; -webkit-box-shadow: 3px 6px 8px -4px #333; box-shadow: 3px 6px 8px -4px #333; }

/* 
icons and multioperation buttons
*/
div.nzb_multi_operations { color:#888; }
div.nzb_multi_operations input { color:#888; background-color:#fff; border-color: #ddd; }
div.nzb_multi_operations input:hover { color:#000; border-color: #000; }

/*
bootstrap over-rides. Set the primary colours we use here. 
*/
.nav .dropdown-toggle .caret { border-top-color: #000; border-bottom-color: #000; }
.nav .dropdown-toggle:hover .caret { border-top-color: #00890a; border-bottom-color: #00890a; }
.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
    color: #fff;
    background-color: #00890a;
    background-image: -moz-linear-gradient(top, #00890a, #00890a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00890a), to(#00890a));
    background-image: -webkit-linear-gradient(top, #00890a, #00890a);
    background-image: -o-linear-gradient(top, #00890a, #00890a);
    background-image: linear-gradient(to bottom, #00890a, #00890a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00890a', endColorstr='#ffb20707', GradientType=0);
}


/* used for the admin buttons, set your colour to the first colour in each. */
.btn-inverse { 
    color: #ffffff; 
    background-image: -moz-linear-gradient(top, #08cb08, #222222); 
    background-image:-moz-linear-gradient(top, #08cb08, #222222);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08cb08), to(#222222));
    background-image:-webkit-linear-gradient(top, #08cb08, #222222);
    background-image:-o-linear-gradient(top, #08cb08, #222222);
    background-image:linear-gradient(to bottom, #08cb08, #222222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff08cb08', endColorstr='#ff222222', GradientType=0);
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}