.flag {
	width: 16px;
	height: 11px;
    background:url("/templates/writhem/images/glyphicons-halflings.png") no-repeat; 
    background-position: -312px -24px;
}

.flag.flag-ad {background:url(/templates/writhem/images/flags.png) no-repeat; background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px 0}
.flag.flag-ae {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px 0}
.flag.flag-af {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px 0}
.flag.flag-ag {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px 0}
.flag.flag-ai {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px 0}
.flag.flag-al {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px 0}
.flag.flag-am {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px 0}
.flag.flag-an {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px 0}
.flag.flag-ao {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px 0}
.flag.flag-ar {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px 0}
.flag.flag-as {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px 0}
.flag.flag-at {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px 0}
.flag.flag-au {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px 0}
.flag.flag-aw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px 0}
.flag.flag-az {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px 0}
.flag.flag-ba {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -11px}
.flag.flag-bb {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -11px}
.flag.flag-bd {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -11px}
.flag.flag-be {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -11px}
.flag.flag-bf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -11px}
.flag.flag-bg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -11px}
.flag.flag-bh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -11px}
.flag.flag-bi {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -11px}
.flag.flag-bj {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -11px}
.flag.flag-bm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -11px}
.flag.flag-bn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -11px}
.flag.flag-bo {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -11px}
.flag.flag-br {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -11px}
.flag.flag-bs {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -11px}
.flag.flag-bt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -11px}
.flag.flag-bv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -11px}
.flag.flag-bw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -22px}
.flag.flag-by {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -22px}
.flag.flag-bz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -22px}
.flag.flag-ca {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -22px}
.flag.flag-catalonia {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -22px}
.flag.flag-cd {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -22px}
.flag.flag-cf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -22px}
.flag.flag-cg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -22px}
.flag.flag-ch {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -22px}
.flag.flag-ci {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -22px}
.flag.flag-ck {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -22px}
.flag.flag-cl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -22px}
.flag.flag-cm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -22px}
.flag.flag-cn, .flag.chinese {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -22px}
.flag.flag-co {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -22px}
.flag.flag-cr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -22px}
.flag.flag-cu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -33px}
.flag.flag-cv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -33px}
.flag.flag-cw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -33px}
.flag.flag-cy {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -33px}
.flag.flag-cz, .flag.czech {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -33px}
.flag.flag-de, .flag.german {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -33px}
.flag.flag-dj {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -33px}
.flag.flag-dk, .flag.dutch {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -33px}
.flag.flag-dm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -33px}
.flag.flag-do {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -33px}
.flag.flag-dz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -33px}
.flag.flag-ec {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -33px}
.flag.flag-ee {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -33px}
.flag.flag-eg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -33px}
.flag.flag-eh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -33px}
.flag.flag-england {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -33px}
.flag.flag-er {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -44px}
.flag.flag-es, .flag.spanish {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -44px}
.flag.flag-et {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -44px}
.flag.flag-eu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -44px}
.flag.flag-fi {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -44px}
.flag.flag-fj {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -44px}
.flag.flag-fk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -44px}
.flag.flag-fm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -44px}
.flag.flag-fo {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -44px}
.flag.flag-fr, .flag.french {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -44px}
.flag.flag-ga {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -44px}
.flag.flag-gb, .flag.english {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -44px}
.flag.flag-gd {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -44px}
.flag.flag-ge {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -44px}
.flag.flag-gf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -44px}
.flag.flag-gg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -44px}
.flag.flag-gh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -55px}
.flag.flag-gi {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -55px}
.flag.flag-gl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -55px}
.flag.flag-gm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -55px}
.flag.flag-gn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -55px}
.flag.flag-gp {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -55px}
.flag.flag-gq {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -55px}
.flag.flag-gr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -55px}
.flag.flag-gs {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -55px}
.flag.flag-gt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -55px}
.flag.flag-gu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -55px}
.flag.flag-gw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -55px}
.flag.flag-gy {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -55px}
.flag.flag-hk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -55px}
.flag.flag-hm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -55px}
.flag.flag-hn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -55px}
.flag.flag-hr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -66px}
.flag.flag-ht {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -66px}
.flag.flag-hu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -66px}
.flag.flag-ic {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -66px}
.flag.flag-id {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -66px}
.flag.flag-ie {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -66px}
.flag.flag-il {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -66px}
.flag.flag-im {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -66px}
.flag.flag-in {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -66px}
.flag.flag-io {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -66px}
.flag.flag-iq {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -66px}
.flag.flag-ir {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -66px}
.flag.flag-is {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -66px}
.flag.flag-it {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -66px}
.flag.flag-je {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -66px}
.flag.flag-jm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -66px}
.flag.flag-jo {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -77px}
.flag.flag-jp, .flag.japanese {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -77px}
.flag.flag-ke {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -77px}
.flag.flag-kg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -77px}
.flag.flag-kh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -77px}
.flag.flag-ki {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -77px}
.flag.flag-km {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -77px}
.flag.flag-kn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -77px}
.flag.flag-kp {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -77px}
.flag.flag-kr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -77px}
.flag.flag-kurdistan {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -77px}
.flag.flag-kw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -77px}
.flag.flag-ky {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -77px}
.flag.flag-kz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -77px}
.flag.flag-la {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -77px}
.flag.flag-lb {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -77px}
.flag.flag-lc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -88px}
.flag.flag-li {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -88px}
.flag.flag-lk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -88px}
.flag.flag-lr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -88px}
.flag.flag-ls {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -88px}
.flag.flag-lt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -88px}
.flag.flag-lu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -88px}
.flag.flag-lv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -88px}
.flag.flag-ly {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -88px}
.flag.flag-ma {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -88px}
.flag.flag-mc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -88px}
.flag.flag-md {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -88px}
.flag.flag-me {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -88px}
.flag.flag-mg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -88px}
.flag.flag-mh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -88px}
.flag.flag-mk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -88px}
.flag.flag-ml {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -99px}
.flag.flag-mm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -99px}
.flag.flag-mn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -99px}
.flag.flag-mo {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -99px}
.flag.flag-mp {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -99px}
.flag.flag-mq {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -99px}
.flag.flag-mr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -99px}
.flag.flag-ms {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -99px}
.flag.flag-mt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -99px}
.flag.flag-mu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -99px}
.flag.flag-mv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -99px}
.flag.flag-mw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -99px}
.flag.flag-mx {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -99px}
.flag.flag-my {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -99px}
.flag.flag-mz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -99px}
.flag.flag-na {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -99px}
.flag.flag-nc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -110px}
.flag.flag-ne {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -110px}
.flag.flag-nf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -110px}
.flag.flag-ng {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -110px}
.flag.flag-ni {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -110px}
.flag.flag-nl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -110px}
.flag.flag-no {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -110px}
.flag.flag-np {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -110px}
.flag.flag-nr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -110px}
.flag.flag-nu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -110px}
.flag.flag-nz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -110px}
.flag.flag-om {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -110px}
.flag.flag-pa {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -110px}
.flag.flag-pe {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -110px}
.flag.flag-pf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -110px}
.flag.flag-pg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -110px}
.flag.flag-ph {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -121px}
.flag.flag-pk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -121px}
.flag.flag-pl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -121px}
.flag.flag-pm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -121px}
.flag.flag-pn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -121px}
.flag.flag-pr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -121px}
.flag.flag-ps {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -121px}
.flag.flag-pt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -121px}
.flag.flag-pw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -121px}
.flag.flag-py {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -121px}
.flag.flag-qa {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -121px}
.flag.flag-re {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -121px}
.flag.flag-ro {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -121px}
.flag.flag-rs {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -121px}
.flag.flag-ru {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -121px}
.flag.flag-rw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -121px}
.flag.flag-sa {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -132px}
.flag.flag-sb {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -132px}
.flag.flag-sc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -132px}
.flag.flag-scotland {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -132px}
.flag.flag-sd {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -132px}
.flag.flag-se, .flag.swedish {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -132px}
.flag.flag-sg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -132px}
.flag.flag-sh {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -132px}
.flag.flag-si {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -132px}
.flag.flag-sk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -132px}
.flag.flag-sl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -132px}
.flag.flag-sm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -132px}
.flag.flag-sn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -132px}
.flag.flag-so {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -132px}
.flag.flag-somaliland {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -132px}
.flag.flag-sr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -132px}
.flag.flag-ss {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -143px}
.flag.flag-st {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -143px}
.flag.flag-sv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -143px}
.flag.flag-sy {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -143px}
.flag.flag-sz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -143px}
.flag.flag-tc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -143px}
.flag.flag-td {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -143px}
.flag.flag-tf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -143px}
.flag.flag-tg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -143px}
.flag.flag-th {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -143px}
.flag.flag-tj {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -143px}
.flag.flag-tk {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -143px}
.flag.flag-tl {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -143px}
.flag.flag-tm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -143px}
.flag.flag-tn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -143px}
.flag.flag-to {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -143px}
.flag.flag-tr {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -154px}
.flag.flag-tt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -154px}
.flag.flag-tv {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -154px}
.flag.flag-tw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -154px}
.flag.flag-tz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -154px}
.flag.flag-ua {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -154px}
.flag.flag-ug {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -154px}
.flag.flag-um {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -154px}
.flag.flag-us, .flag.english_us {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -154px}
.flag.flag-uy {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -154px}
.flag.flag-uz {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -154px}
.flag.flag-va {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -176px -154px}
.flag.flag-vc {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -192px -154px}
.flag.flag-ve {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -208px -154px}
.flag.flag-vg {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -224px -154px}
.flag.flag-vi {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -240px -154px}
.flag.flag-vn {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: 0 -165px}
.flag.flag-vu {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -16px -165px}
.flag.flag-wales {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -32px -165px}
.flag.flag-wf {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -48px -165px}
.flag.flag-ws {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -64px -165px}
.flag.flag-ye {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -80px -165px}
.flag.flag-yt {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -96px -165px}
.flag.flag-za {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -112px -165px}
.flag.flag-zanzibar {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -128px -165px}
.flag.flag-zm {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -144px -165px}
.flag.flag-zw {background:url(/templates/writhem/images/flags.png) no-repeat; background-position: -160px -165px}
